xmlSchemaDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="https://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="movies">
        <xs:complexType>
            <xs:element name="movie" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:integer"/>
                        <xs:element name="originalTitle" type="xs:string"/>
                        <xs:element name="releaseDate" type="xs:date"/>
                        <xs:element name="status" type="xs:string"/>
                        <xs:element name="voteAverage" type="xs:float"/>
                        <xs:element name="voteCount" type="xs:integer"/>
                        <xs:element name="runtime" type="xs:integer"/>
                        <xs:element name="certification" type="xs:string"/>
                        <xs:element name="posterPath" type="xs:string"/>
                        <xs:element name="budget" type="xs:integer"/>
                        <xs:element name="tagline" type="xs:string"/>
                        <xs:element name="genres">
                            <xs:complexType>
                                <xs:element name="genre" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="id" type="xs:integer"/>
                                            <xs:element name="nom" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="directors">
                            <xs:complexType>
                                <xs:element name="director" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:sequence>
                                            <xs:element name="id" type="xs:integer"/>
                                            <xs:element name="nom" type="xs:string"/>
                                        </xs:sequence>
                                    </xs:complexType>
                                </xs:element>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="actors">
                            <xs:complexType>
                                <xs:element name="actor" maxOccurs="unbounded">
                                    <xs:complexType>
                                        <xs:element name="id" type="xs:integer"/>
                                        <xs:element name="nom" type="xs:string"/>
                                    </xs:complexType>
                                </xs:element>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:complexType>
    </xs:element>
</xs:schema>

